html {
    background-color: white;
    font-size: 16px;
    background-color: rgb(41, 45, 51);
}

/* header {
    background-color: #6da2d9;
} */

nav {
    margin-bottom: 10px;
    display: flex;
    justify-content: right;
  }


nav ul {
    display: flex;
  }


nav li {
    margin-right: 25px;
    color: white;
    text-decoration: underline;
  }
a:visited {
    color: white;
}

nav li:hover {
    color: #ea6710;
}

a:hover {
    color: #ea6710;
}


main {
    /* background-image: url('/Users/edgardobaltazar/Desktop/Project_New/images/LA_image7.jpg'); */
    background-image: url('/Users/edgardobaltazar/Desktop/Project_New/images/LA_image2.jpg');
    background-size: cover;
    background-position-y: 45%;
    height: 25rem;
    width: auto;
    opacity: 0.8;
    text-align: center;
    padding-top: 25%;
  }

.name {
    font-family: Roboto, sans-serif;
    background-color: rgba(230, 232, 232, 0.503);
    border: 2px solid #ea6710;
    margin: 13px 20px;
}


section {
    padding: 2rem 1rem;
}

.skills {
    display: flex;
    justify-content: space-around;
}

/* .skills div {
    position: absolute;
    top: 45rem;
    z-index: 5;
} */
 
.about_me {
    background-color: #6da2d9;
  }

.image_1 {
    width: 25rem;
    height: 100%;
  }

.about_me p {
    text-align: unset;
    line-height: 1.7rem;
  }

.projects_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


.projects_container div {
    background-color: rgb(103, 101, 101);
    width: 35rem;
    height: auto;
    padding: 1rem auto;
    border: 4px black solid;
    /* margin-bottom: 20px; */
    text-align: center;
    border-radius: 5px;
  }

.projects img {
    width: 21rem;
    height: auto;
  }
