html {
    background-color: white;
    font-size: 16px;
}

header {
    background-color: rgb(158, 172, 231);
    
}  

nav {
    background-color: rgb(120, 117, 117);
    /* display: flex; */
  }


nav ul {
    display: flex;
  }


li {
    margin-right: 25px;
  }


main {
    /* background-image: url('/Users/edgardobaltazar/Desktop/Project_New/images/LA_image7.jpg'); */
    background-image: url('/Users/edgardobaltazar/Desktop/Project_New/images/LA_image2.jpg');
    background-size: cover;
    background-position-y: 45%;
    height: 25rem;
  }

section {
    padding: 5rem 5rem;
}
 
.about_me {
    background-color: #6da2d9;
  }

.image_1 {
    width: 25rem;
    height: 100%;
  }

.about_me p {
    text-align: unset;
    line-height: 1.7rem;
  }

.projects_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


.projects_container div {
    background-color: rgb(103, 101, 101);
    width: 35rem;
    height: auto;
    padding: 1rem auto;
    border: 4px black solid;
    /* margin-bottom: 20px; */
    text-align: center;
    border-radius: 5px;
  }

.projects img {
    width: 21rem;
    height: auto;
  }
